# Server Port
PORT=3000

# Pathao Logistics API (Sandbox or Production)
PATHAO_BASE_URL=https://commerce-sandbox-api.pathao.com
PATHAO_CLIENT_ID=your_pathao_client_id
PATHAO_CLIENT_SECRET=your_pathao_client_secret
PATHAO_USERNAME=your_pathao_username
PATHAO_PASSWORD=your_pathao_password
PATHAO_GRANT_TYPE=password
